/* You can add global styles to this file, and also import other style files */
.top-bar {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 16px;
  }
  
  .store-name {
    font-size: 20px;
    margin-right: 16px;
  }
  
  .checkout-button {
    background-color: #ff5722;
    border: none;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
  }
  